{% extends  "base.html"%}
{% load static %}
  {% block content %}
   <div id="s" style="display:none;"> 
  <div id="accordion">
   <h3>Organisasi/Kepanitiaan</h3>
  <div>
    <p>
        <div class = "container-fluid">
            <img src="{% static "big-r.png" %}"> 
            <p> Ristek </p>
        </div>
    </p>
  </div>
  <h3>Aktivitas</h3>
  <div>
    <p>  
    <div>
        <ul>
        <li>Ngoding</li>
        <li>Menempuh beban semester 3</li>
        <li>Mempelajari Pemrograman Perancangan Web</li>
        <li>Kadang menyesali tindakan yang dilakukan</li>
        <li>Makan Nasi</li>
        </ul>
    </div>
    </p>
  </div>
   <h3>Prestasi</h3>
  <div>
    <p>
    <div>
        <img src="{% static "nothing.png" %}">
    </div>
    </p>
  </div>
</div>
</div>
{% endblock content %}  