{% extends  "base.html"%}
{% load static %}
{% block content %}
<div id="s" style="display:none;">
  <div id="subscription" class="jumbotron">
  <h1 class="justify-content-center"> Hit that SUBSCRIBE button<br><br> list of subs below</h1>
    <div class="container-fluid">
      <form id='sub-form' method='POST' action="{% url 'subscribe' %}">
        {% csrf_token %}
        <p id="email-msg" class="small-text"></p>
        {{ subscription }}
        <p id="conf-msg" class="small-text"></p>
        <br>
        <button id="submit-button" type="submit" class="btn btn-default disabled">Subscribe</button>
        <p id="end-msg" class="small-text"></p>
      </form>
    </div>
  </div>

  <div id="sub-panel" class="jumbotron row">
      
  </div>

  <div id="pop-up">
    <p> Input your respective password </p>
    <input type='password' id="html_pass">
    <button id="conf_delete" class='btn btn-danger'>Confirm</button>
  </div>
</div>

{% endblock content %}