body {
    background-color: white;
}

.star {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 65%;
}

.table {
    background-color: #007bff;
}

.head {
    color: white;
}

.elements {
    background-color: aquamarine;
}

.inside {
    color: black;
}
.jumbotron {
    background-color: lightgoldenrodyellow;
    width: 70%;
    height: 10%; 
    margin: auto;
    margin-top: 50px;
    color: black;
    display: flex;
}

.ui-accordion .ui-accordion-header {
    background-color: deepskyblue;
}

.tray {
    margin-top: 20px;
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #8492A6;
}

.username {
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;
}
#load {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
#status {
    padding-left: 10px;
}

#nav-bar {
    background-color: lightgoldenrodyellow;
    margin: auto;
}

#panel-pic {
    background-color: whitesmoke;
    border-style: solid;
    border-width: 1.5px;
    border-color: #8492A6;
}

#profile-pic {
    border-radius: 30%;
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#bio {
    font-size: 18pt;
    margin-left: 20px;
}

.small-text{
    font-size: 10pt;
    color: red;
}