{% extends  "base.html"%}
{% load static %}
  {% block content %}
    <title>lwitter</title>
     <div id="s" style="display:none;">
    <div class="jumbotron"> 
        <div class="container-fluid">
            <h1>Hello Apa Kabar?</h1>
            <form id='form' method='POST' action="{% url 'submit' %}">
                {% csrf_token %}
                {{ status_form }}
                <br>
                <button id="submit-button" type="submit" class="btn btn-default">Post</button>
            </form>
        </div>
    </div>

    <div id="posts" class="jumbotron"> 
        <div class="container-fluid">
        {% for Status in status_display %}
            <div class="tray"> 
                <div class= "username row-2"> 
                    <p class="text-right">{{ Status.name }}, {{Status.date}}</p> 
                </div>
                <p id="status" class="text-left row-2"> {{ Status.status }} </p>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
{% endblock content %}