{% extends  "base.html"%}
{% load static %}
  {% block content %}
   <div id="s" style="display:none;">
  <div id="Home" class="jumbotron">
    <div class="container-fluid">
     <div class="row" >
      <div class="col-sm-auto" >
        <div id="panel-pic">
          <img id="profile-pic" src="{% static "dafa.jpg" %}">
        </div>
        <p id="name" class="text-center"> Dafa Ramadansyah </p>
      </div>
      <div class="col-sm">
          <h1>About me...</h1>
        <p id="bio" class="text-left text-lg">
          <br>
          My full name is Dafa Ramadansyah,
          I was born on 8th of January 1999. Currently a college student, I strive for knowledge beyond comprehension.
          I am passionate about things that i find interesting and willing to spend my time and power for it.
          <br>
          <br>
            My name is Dafa Ramadansyah and i'm glad to be the person that you need! </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endblock content %}
  