{% extends  "base.html"%}
{% load static %}
{% block content %}
<br>
<div class = "row justify-content-center">
  <input type="text" id="find" class="form-control col-3" placeholder="find a book">
  <button id="find-button" class="btn btn-primary col-1"> find </button>
</div>
<table class="table table-responsive table-bordered">
    <tr class="head">
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
      <th scope="col">Total Favorites 
      <div id="num">0</div> 
      </th>
    </tr>
  <tbody id="body">
    
  </tbody>
</table>
{% endblock content %}